h1 {
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(207, 57%, 20%);
}
p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(38, 82%, 12%);
}
.link {
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: hsl(207, 22%, 20%);
}

.background1 {
    background-color:hsl(0, 66%, 87%);
    width: 600px;
    max-width: 90%;
    margin-left: 300px;
    display: block;
}

.entryfield {
    width: 450px;
    height: 60px;
    font-size: 48px;
}


#red-button {
    color: hsl(358, 88%, 44%);
    background-color:hsl(207, 22%, 20%);
    font-size: 32px;
}
#blue-button {
    color: hsl(246, 78%, 71%);
    background-color:hsl(207, 22%, 20%);
    font-size: 32px;
}
#green-button {
    color:hsl(135, 76%, 44%);
    background-color:hsl(207, 22%, 20%);
    font-size: 32px;
}
#yellow-button {
    color:hsl(56, 80%, 52%);
    background-color:hsl(207, 22%, 20%);
    font-size: 32px;
}
#return-button {
    color:hsl(0, 0%, 100%);
    background-color:hsl(207, 22%, 20%);
    font-size: 32px;
}